.aside {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: fit-content;
	height: 100%;
	padding: 1.5rem 1rem;
	background-color: hsl(0, 0%, 10%);
	position: fixed;
	top: 0;
	left: 0;
	transition: transform 0.2s ease-in-out;
	overflow-y: auto;
	z-index: 999;
}

.aside.closed {
	transform: translateX(-100%);
}

.aside.open {
	transform: translateX(0);
}

.aside__menu-btn {
	display: flex;
	width: fit-content;
	font-size: 1rem;
}
